{% extends 'base.html' %}
<body>
    {% block content %}
    <h1>Справочник валют</h1>
    <hr>
    <table align="center" width="100%" style="border-collapse: collapse;">
        <tr>
            <th style="border-bottom: 1px solid #bdbdbd; padding: 5px;"><h3>Валюта</h3></th>
            <th style="border-bottom: 1px solid #bdbdbd; padding: 5px;"><h3>Буквенный код</h3></th>
            <th style="border-bottom: 1px solid #bdbdbd; padding: 5px;"><h3>Цифровой код</h3></th>
            <th style="border-bottom: 1px solid #bdbdbd; padding: 5px;"><h3>Страна</h3></th>
        </tr>
        
        {% for currency in currencies %}
            <tr class=>
                <th style="border-bottom: 1px solid #bdbdbd; padding: 5px;"><h5>{{ currency.name }}</h5></th>
                <th style="border-bottom: 1px solid #bdbdbd; padding: 5px;"><h5>{{ currency.literal_code }}</h5></th>
                <th style="border-bottom: 1px solid #bdbdbd; padding: 5px;"><h5>{{ currency.number_code }}</h5></th>
                <th style="border-bottom: 1px solid #bdbdbd; padding: 5px;"><h5>{{ currency.state }}</h5></th>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>