<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse justify-content-left">
        <ul class="navbar-nav mb-2 mb-lg-0 nav-links">

            <li class="nav-item ps-3">
                <a class="nav-link active" aria_current="page" href="/">Курсы</a> 
            </li>

            <li class="nav-item ps-3">
                <a class="nav-link active" aria_current="page" href="/converter">Конвертер валют</a> 
            </li>

            <li class="nav-item ps-3">
                <a class="nav-link active" aria_current="page" href="/calculator">Калькулятор исторической доходности</a> 
            </li>

            <li class="nav-item ps-3">
                <a class="nav-link active" aria_current="page" href="/currency_reference">Справочник валют</a> 
            </li>

        </ul>
    </div>
</nav>
    